:root {
  --vp-c-brand-1: #ca8a04;
  --vp-c-brand-2: #a16207;
  --vp-c-brand-3: #854d0e;
  --vp-c-brand-soft: rgba(234, 179, 8, 0.14);
}

.dark {
  --vp-c-brand-1: #facc15;
  --vp-c-brand-2: #eab308;
  --vp-c-brand-3: #ca8a04;
  --vp-c-brand-soft: rgba(250, 204, 21, 0.16);
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
}

@media screen and (max-width: 960px) {
  .VPHero.has-image .image {
    display: none;
  }
}
